<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/console/console-logger.xml"/>
    <include resource="logback/file/file-error-logger.xml"/>
    <include resource="logback/file/file-warn-logger.xml"/>
    <include resource="logback/file/file-info-logger.xml"/>
    <include resource="logback/file/file-debug-logger.xml"/>

    <springProfile name="prod">
        <logger name="com.woowacourse.gongcheck" level="INFO">
            <appender-ref ref="file-error-logger"/>
            <appender-ref ref="file-warn-logger"/>
            <appender-ref ref="file-info-logger"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="file-error-logger"/>
            <appender-ref ref="file-warn-logger"/>
            <appender-ref ref="file-info-logger"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.woowacourse.gongcheck" level="DEBUG">
            <appender-ref ref="file-error-logger"/>
            <appender-ref ref="file-warn-logger"/>
            <appender-ref ref="file-info-logger"/>
            <appender-ref ref="file-debug-logger"/>
        </logger>

        <logger name="org.springframework" level="DEBUG">
            <appender-ref ref="file-error-logger"/>
            <appender-ref ref="file-warn-logger"/>
            <appender-ref ref="file-info-logger"/>
            <appender-ref ref="file-debug-logger"/>
        </logger>
    </springProfile>

    <springProfile name="local">
        <logger name="com.woowacourse.gongcheck" level="DEBUG">
            <appender-ref ref="console-logger"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="console-logger"/>
        </logger>
    </springProfile>

    <springProfile name="test">
        <logger name="com.woowacourse.gongcheck" level="DEBUG">
            <appender-ref ref="console-logger"/>
        </logger>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="console-logger"/>
        </logger>

        <!--sql 구문 출력-->
        <logger name="org.hibernate.SQL" level="DEBUG">
            <appender-ref ref="console-query-logger"/>
        </logger>

        <!--insert, update, delete문 파라미터 바인딩-->
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <appender-ref ref="console-db-logger"/>
        </logger>

        <!--select 문에서 가져온 값 바인딩-->
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
            <appender-ref ref="console-db-logger"/>
        </logger>

        <!--DB slow query 로깅-->
        <logger name="org.hibernate.SQL_SLOW" level="INFO">
            <appender-ref ref="console-db-logger"/>
        </logger>
    </springProfile>
</configuration>
